body {
    background: #828282;
    background: linear-gradient(90deg, rgba(130, 130, 130, 1) 0%, rgba(224, 224, 224, 1) 44%, rgba(201, 255, 201, 1) 44%, rgba(239, 255, 222, 1) 100%);
    height: 100vh;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__title {
    margin: auto 20px;
}

.title {
    font-weight: normal;
    font-size: 3.5rem;
}


.container {
    padding: 20px;
    border: 3px solid var(--white);
    background-color: rgba(255,255,255,0.2);
    margin: 100px 150px;
    box-shadow: 2px 3px 10px var(--black);
    border-radius: 10px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
}

.label__form {
    margin: 10px auto;
    font-size: 1.5rem;
    margin-left: 20px;
}

.input__form {
    padding: 4px 15px;
    width: 90%;
}

.btn__login {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: var(--white);
    box-shadow: 1px 1px 10px var(--black);
    width: 50%;
    transition: 200ms ease-in-out;
}

.btn__login:hover {
    transition: 200ms;
    background-color: var(--black);
    color: var(--white);
}

.form__link {
    font-size: 0.9rem;
    margin-top: 15px;
    color: var(--black);
    text-decoration: none;
}

.form__link:active {
    color: blue;
}

@media (max-width:1195px) {
    .title {
        font-size: 2.7rem;
    }
}

@media (max-width:1080px){


    body {
        background: #828282;
        background: linear-gradient(360deg, rgba(130, 130, 130, 1) 0%, rgba(224, 224, 224, 1) 44%, rgba(201, 255, 201, 1) 44%, rgba(239, 255, 222, 1) 100%);
        height: 100vh;
    }


    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width:640px){
    .container {
        margin: 100px 100px;
    }
}

@media (max-width:440px) {
    .title {
        font-size: 2rem;
    }

    .container {
        margin: 100px 40px;
    }
}