
body {
    background-color: var(--background-green);
    height: 100vh;
}

.container {
    padding: 20px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.label__form {
    margin: 10px auto;
    text-align: left;
}

.input__form {
    padding: 4px 15px;
}

.btn__login {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}