body {
    background: #828282;
    background: linear-gradient(90deg, rgba(130, 130, 130, 1) 0%, rgba(224, 224, 224, 1) 44%, rgba(201, 255, 201, 1) 44%, rgba(239, 255, 222, 1) 100%);
    height: 100vh;
}