body {
    background: #77ff75;
    background: linear-gradient(90deg, rgba(119, 255, 117, 1) 0%, rgba(172, 255, 94, 1) 44%, rgba(235, 235, 235, 1) 59%, rgba(250, 250, 250, 1) 100%);
    height: 100vh;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__title {
    margin: auto 20px;
}

.title {
    font-weight: normal;
    font-size: 3.5rem;
}


.container {
    padding: 20px;
    border: 3px solid var(--white);
    background-color: rgba(255,255,255,0.2);
    margin: 100px 150px;
    box-shadow: 2px 3px 10px var(--black);
    border-radius: 10px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
}

.label__form {
    margin: 10px auto;
    font-size: 1.5rem;
    margin-left: 20px;
}

.input__form {
    padding: 4px 15px;
    width: 90%;
}

.btn__create {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid var(--black);
    width: 50%;
    transition: 200ms ease-in-out;
}

.btn__create:hover {
    background-color: rgba(0, 255, 0,0.3);
    transition: 200ms;
}

.form__link {
    font-size: 0.9rem;
    margin-top: 15px;
    color: var(--black);
    text-decoration: none;
}

.form__link:active {
    color: blue;
}

@media (max-width:1188px){
    .title {
        font-size: 2.5rem;
    }
}

@media (max-width:1042px){
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width:625px){
    .container {
         margin: 100px 80px;
    }
}

@media (max-width:448px){

    .title {
        font-size: 2rem;
        margin-top: 40px;
    }

    .container {
        margin: 100px 40px;
    }
}