body {
    background: #77ff75;
    background: linear-gradient(90deg, rgba(119, 255, 117, 1) 0%, rgba(172, 255, 94, 1) 23%, rgba(235, 235, 235, 1) 57%, rgba(250, 250, 250, 1) 100%);
}

main {
    display: flex;
}

.navbar__left {
    background-color: var(--white);
    box-shadow: 1px 5px 10px var(--black);
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 20%;
}

.dashboard__link {
    position: relative;
    margin-left: 70px;
    padding-right: 20px;
}

.dashboard__link img {
    position: absolute;
    right: 10px;
}

.section-tasks {
    margin-left: 40px;
}

.table-tasks {
    height: 25%;
    width: 75%;
}

.table-tasks tr,th,td {
    background-color: var(--white);
    border: 1px solid var(--black);
    font-size: 1.1rem;
    padding: 0px 20px;
}