body {
    background: #77ff75;
    background: linear-gradient(90deg, rgba(119, 255, 117, 1) 0%, rgba(172, 255, 94, 1) 23%, rgba(235, 235, 235, 1) 57%, rgba(250, 250, 250, 1) 100%);
    height: 115vh;
}

main {
    display: flex;
}

.title-dark2 {
    color: var(--white);
}

.dashboard__link-dark {
    color: var(--black);
}

.navbar__left {
    background-color: var(--white);
    box-shadow: 1px 5px 10px var(--black);
    display: flex;
    justify-content: center;
    height: auto;
    width: 20%;
}

.navbar__left-dark {
    background-color: #222020;
    height: 100vh;
}

.btn-change-theme {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dashboard__link {
    position: relative;
    margin-left: 70px;
    padding-right: 20px;
}

.dashboard__link img {
    position: absolute;
    right: 10px;
}

.section-tasks {
    margin-left: 40px;
}

.table-tasks {
    height: 25%;
    width: 75%;
}

.table-tasks tr,
th,
td {
    background-color: var(--white);
    border: 1px solid var(--black);
    font-size: 1.1rem;
    padding: 0px 20px;
}

.btn-add-task {
    background-color: #3bbb38;
    color: var(--white);
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: 200ms ease-in-out;
}

.btn-add-task:hover {
    background-color: #1e691d;
    transition: 200ms;
}

.btn-add-task-dark {
    background-color: var(--white);
    color: var(--black);
}


.column-dark {
    background-color: #222020;
    border: 1px solid var(--white);
    color: var(--white);
}

.container-tasks-none {
    display: none;
}

.container-tasks-show {
    display: block;
    background-color: var(--white);
    box-shadow: 1px 1px 10px var(--black);
    padding: 20px;
    margin-top: 20px;
    width: 75%;
    height: auto;
}

.container-tasks-show-dark {
    background-color: #222020;
}

form {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.input-tasks {
    width: 275px;
    padding: 3px 10px;
}

.btn-add {
    width: 25%;
    margin-top: 10px;
    padding: 5px 20px;
    cursor: pointer;
    background-color: rgb(184, 33, 126);
    border: none;
    color: var(--white);
    transition: 200ms ease-in-out;
}

.btn-add:hover {
    background-color: rgb(128, 24, 88);
    transition: 200ms;
}

.btn-del-task {
    width: 100%;
    padding: 4px 15px;
    background-color: rgb(236, 39, 39);
    color: var(--white);
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 10px var(--black);
}

.btn-edit-task {
    width: 100%;
    padding: 4px 15px;
    background-color: rgb(236, 183, 39);
    color: var(--white);
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 10px var(--black);
}


@media (max-width:1212px) {

    .navbar__left {
        width: 100%;
    }

    .title {
        text-align: center;
    }

    .section-tasks {
        margin-left: 0px;
    }

    .table-tasks {
        width: auto;
        height: 15%;
        display: flex;
        flex-direction: row;
    }

    .table-tasks tr,
    th,
    td {
        padding: 0px 10px;
    }
}

@media (max-width:534px){
    .table-tasks tr,
    th,
    td {
        padding: 0px 1px;
        font-size: 0.7rem;
    }

    .btn-del-task {
        width: 100%;
        padding: 4px 10px;
    }
}