{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/signin.css'%}?v=3.5">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <title>Sign In</title>
</head>
<body>
    <main>
        <div class="container__title">
            <h1 class="title">📝<em>Smart Tasks List</em> </h1>
        </div>
        <div class="container">
            {% for message in messages%}
                <div class="message__show">
                    <p>{{message}}</p>
                </div>
            {% endfor %}
            <form action="{% url 'login' %}" method="post" class="form">
                {% csrf_token %}
                <label for="username" class="label__form">Username</label>
                <input type="text" required placeholder="Username" name="username" class="input__form">
                <label for="senha" class="label__form">Password</label>
                <input type="password" required placeholder="Password" name="senha" class="input__form">
                <button type="submit" class="btn__login">Login</button>
                <a href="{% url 'cadastro' %}" class="form__link">Dont have account ? Sign up</a>
            </form>
            <section class="login-apps">
                <p class="text-login-services">Login with:</p>
                <div class="login-services">
                    <a href="#"><img width="40" height="40" src="https://img.icons8.com/3d-fluency/94/github-logo.png" alt="github-logo"/></a>
                    <a href="#"><img width="40" height="40" src="https://img.icons8.com/color/48/google-logo.png" alt="google-logo"/></a>
                </div>
            </section>
        </div>
    </main>
</body>
</html>