
body {
    background-color: #eeeeee;
}

main {
    display: flex;
}

.navbar__left {
    background-color: var(--white);
    box-shadow: 1px 5px 10px var(--black);
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 20%;
}

.dashboard__link {
    color: var(--black);
    text-decoration: none;
    
}