body {
    background: #77ff75;
    background: linear-gradient(90deg, rgba(119, 255, 117, 1) 0%, rgba(172, 255, 94, 1) 23%, rgba(235, 235, 235, 1) 57%, rgba(250, 250, 250, 1) 100%);
}

main {
    display: flex;
}

.texts {
    margin-left: 30px;
}

.navbar__left {
    background-color: var(--white);
    box-shadow: 1px 5px 10px var(--black);
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 20%;
}

.text-login-message {
    font-weight: 200;
    font-style: italic;
}

.text-login-message-dark {
    color: var(--white);
}

.tasks {
    margin-top: 20px;
}

.dashboard__link {
    color: var(--black);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bolder;
    display: block;
    margin-top: 40px;
    position: relative;
}

.dashboard__link:hover {
    background-color: rgba(0, 255, 0,0.3);
    border: 1px solid green;
    border-radius: 10px;
    padding: 2px;
    transition: 200ms;
}

.btn-change-theme {
    padding: 9px 20px;
    cursor: pointer;
    letter-spacing: 1.2px;
    border-radius: 7px;
    background-color: var(--black);
    border: none;
    color: var(--white);
    transition: 200ms ease-in-out;
}

.btn-change-theme:hover {
    transform: scale(1.10);
    transition: 200ms;
}

.title {
    font-size: 4rem;
}

.itens {
    display: flex;
    justify-content: space-around;
    gap: 150px;
    width: 100%;
}

.item {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    width: 210px;
    height: 120px;
    margin-left: 40px;
    margin-top: 20px;
    padding: 10px;
}

.item:first-child {
    border: 3px solid var(--white);
    box-shadow: 1px 1px 10px rgb(55, 231, 55);
}

.item:nth-child(2) {
    box-shadow: 1px 1px 10px red;
}

.item:nth-child(3) {
    background-image: linear-gradient(to top,black,rgb(0, 0, 34));
    box-shadow: 1px 1px 10px rgb(236, 236, 38);
    border-radius: 1px solid rgb(236, 236, 38);
    color: white;
}

.item p:first-child {
    letter-spacing: 2px;
}

.item p:last-child {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

/* Dark Element */

.body-dark {
    background-image: linear-gradient(180deg, #000000,#222222);
    transition: 200ms;
}

.navbar__left-dark {
    background-color: #222020;
    height: 100vh;
}

.title-dark {
    color: var(--white);
}

.subtext-dark {
    color: var(--white);
}

.dashboard__link-dark {
    color: var(--white);
}

.dashboard__link-dark:hover {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--white);
}

.item-dark {
    background-color: var(--black);
    color: var(--white);
}


@media (max-width:1302px){
    .item {
        margin-left: 15px;
    }
}

@media (max-width:1212px) {

    body {
        height: 100vh;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .navbar__left {
        height: 10vh;
        width: 100%;
    }

    .btn-change-theme {
        padding: 1px 20px;
        transform: translateY(-20);
    }

    .tasks {
        display: flex;
        justify-content: space-around;
    }

    .dashboard__link {
        margin: 30px 50px;
    }

    .texts {
        text-align: center;
    }

    .itens {
        display: flex;
    }

    .item {
        margin-left: 2px;
    }
}

@media (max-width:911px){

    .title {
        font-size: 3.4rem;
    }

    .itens {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }
}