{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=3.1">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}?v=3.5">
    {% block extra_css %}{% endblock %}
    <script src="{% static 'script/dashboard.js' %}" defer></script>
    <title>Dashboard - Page </title>
</head>

<body>
    {% block content %}
    <main>
        {% include 'partials/_navbar-dashboard.html' %}
        <section>
            <div class="texts">
                {% for message in messages%}
                    <div class="message__show">
                        <p>{{message}}</p>
                    </div>
                {% endfor %}
                 <h1 class="title">Dashboard</h1>
                 <p>Analyze your statistics. </p>
            </div>
            <section class="section__informations">
                <div class="itens">
                    <div class="item">
                        <p>TASKS COMPLETED</p>
                        <p id="tasks_completed">0</p>
                    </div>
                    <div class="item">
                        <p>PENDING TASKS</p>
                        <p id="pendind_tasks">0</p>
                    </div>
                    <div class="item">
                        <p>WEEKLY EFFICIENCY</p>
                        <p id="efficiency">0</p>
                    </div>
                </div>
            </section>
        </section>
    </main>
    {% endblock %}
</body>
</html>