{% extends 'dashboard/dashboard.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tasks.css' %}?v=3.6">
<script src="{% static 'script/tasks.js' %}" defer></script>
{% endblock %}

{% block content %}
<main>
    {% impletemts "partials/_navbar-dashboard.html" %}
    <section class="section-tasks">
        <h1 class="title">Tasks</h1>
        <table class="table-tasks">
            <tr>
                <th>Nome da task</th>
                <th>Data de início</th>
                <th>Data de fim</th>
                <th>Descrição</th>
                <th>Mais opções</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task.nome_task }}</td>
                <td>{{ task.data_inicio }}</td>
                <td>{{ task.data_fim }}</td>
                <td>{{ task.descricao }}</td>
                <td>
                    <form action="{% url 'delete_task' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="task_id" value="{{task.id}}">
                        <button class="btn-del-task" type="submit"><img width="24" height="24" src="https://img.icons8.com/liquid-glass/48/trash.png" alt="trash"/>Excluir</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        <button class="btn-add-task" id="addTasks">Adicionar task</button>
        <div id="container-tasks" class="container-tasks-none">
            <form action="{% url 'add_task' %}" method="post">
                {% csrf_token %}
                <label for="nome_task">Nome da Task</label>
                <input type="text" placeholder="Nome da task" required name="nome_task" class="input-tasks">
                <label for="nome_task">Data de inicio</label>
                <input type="date" required name="data_inicio" class="input-tasks">
                <label for="nome_task">Data fim</label>
                <input type="date" required name="data_fim" class="input-tasks">
                <label for="nome_task">Descrição</label>
                <input type="text" required name="descricao" class="input-tasks">
                <button type="submit" class="btn-add">Adicionar Task</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}