{% extends 'dashboard/dashboard.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tasks.css' %}?v=3.2">
{% endblock %}

{% block content %}
<main>
    <div class="navbar__left">
        <div class="tasks">
            <a href="{% url 'logout_account' %}" class="dashboard__link">Logout</a>
            <a href="{% url 'dashboard' %}" class="dashboard__link">Dashboard</a>
        </div>
    </div>

    <table>
        <tr>
            <th>Nome da task</th>
            <th>Data de início</th>
            <th>Data de fim</th>
            <th>Descrição</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.nome_task }}</td>
            <td>{{ task.data_inicio }}</td>
            <td>{{ task.data_fim }}</td>
            <td>{{ task.descricao }}</td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock %}
