{% extends 'dashboard/dashboard.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tasks.css' %}?v=3.3">
<script src="{% static 'script/tasks.js' %}" defer></script>
{% endblock %}

{% block content %}
<main>
    <div class="navbar__left">
        <div class="tasks">
            <a href="{% url 'logout_account' %}" class="dashboard__link">Logout</a>
            <a href="{% url 'dashboard' %}" class="dashboard__link">Dashboard</a>
        </div>
    </div>
    <section class="section-tasks">
        <h1 class="title">Tasks</h1>
        <table class="table-tasks">
            <tr>
                <th>Nome da task</th>
                <th>Data de início</th>
                <th>Data de fim</th>
                <th>Descrição</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task.nome_task }}</td>
                <td>{{ task.data_inicio }}</td>
                <td>{{ task.data_fim }}</td>
                <td>{{ task.descricao }}</td>
            </tr>
            {% endfor %}
        </table>
        <button class="btn-add-task" id="addTasks">Adicionar task</button>
        <div id="container-tasks" class="container-tasks-none">
            <form action="{% url 'add_task' %}" method="post">
                {% csrf_token %}
                <label for="nome_task">Nome da Task</label>
                <input type="text" placeholder="Nome da task" required name="nome_task" class="input-tasks">
                <label for="nome_task">Data de inicio</label>
                <input type="date" required name="data_inicio" class="input-tasks">
                <label for="nome_task">Data fim</label>
                <input type="date" required name="data_fim" class="input-tasks">
                <label for="nome_task">Descrição</label>
                <input type="text" required name="descricao" class="input-tasks">
                <button type="submit" class="btn-add">Adicionar Task</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}